
pais {background-color:black;}
departamento {color:white; display:block;}
cabezera {color:white; display:block;}
habitantes {color:white; display:block;}
altura {color:white; display:block;}
moneda{color:white; display:block;}
codigoArea{color:white; display:block;}
idioma{color:white; display:block;}